.profile__avatar-load-button-cover {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 120px;
  min-height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.3s linear;
}
